h1{
	align-items: center;
	text-align: center;
	width: 80vw;
	height: 10vh;
	background-color: pink;
	color: white;
	border: 5px solid black;
	margin: auto;	
}

body{
	background-image:url(rick.jpg);
}